body {
    position: relative;
}

.card-button {
    background-color: #747274;
    border-color: #747274;
    color: white;
}

.btn-outline-success {
    border-color: #B9B7A7;
    color: #B9B7A7;
}

.row {
    padding-top: 10px;
    padding-left: 10px;
}

.card-body {
    background-color: #7C90A0;
}

.card-header {
    background-color:#5486ad;
}

body {
    background-color: #B9B7A7;
}

.card {
    border-color: #5486ad;
}

.carousel {
    position: relative;

    left: 350px;
    bottom: 380px;
}

.scrollspy-example {
    position: relative;
    overflow-y: scroll;
    height: 400px;
}

.affix {
    top:20px;
    z-index:9999 !important;;
}

#section1, #section2  {
    margin-left: 150px;
}

.container {
    margin-left: -10px;
    margin-right: -10px;
}